<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
 xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
 xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
 xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
 xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
 IgnorableNamespaces="uap uap3 com rescap">
  <Identity Name="ApricotCake.GHJump" Publisher="CN=apricot-cake" Version="0.1.0.0" ProcessorArchitecture="x64" />
  <Properties><DisplayName>GH Jump</DisplayName><PublisherDisplayName>apricot-cake</PublisherDisplayName><Logo>Assets\StoreLogo.png</Logo></Properties>
  <Dependencies><TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" /></Dependencies>
  <Resources><Resource Language="en-us" /></Resources>
  <Applications>
    <Application Id="App" Executable="GHJump.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="GH Jump" Description="Open GitHub repositories from Command Palette" BackgroundColor="transparent" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" />
      <Extensions>
        <com:Extension Category="windows.comServer"><com:ComServer>
          <com:ExeServer Executable="GHJump.exe" Arguments="-RegisterProcessAsComServer" DisplayName="GH Jump">
            <com:Class Id="CD969A05-A92B-49AC-90AB-69DA0B998467" DisplayName="GH Jump" />
          </com:ExeServer>
        </com:ComServer></com:Extension>
        <uap3:Extension Category="windows.appExtension"><uap3:AppExtension Name="com.microsoft.commandpalette" Id="GHJump" PublicFolder="Public" DisplayName="GH Jump" Description="GitHub repository navigation">
          <uap3:Properties><CmdPalProvider><Activation><CreateInstance ClassId="CD969A05-A92B-49AC-90AB-69DA0B998467" /></Activation><SupportedInterfaces><Commands /></SupportedInterfaces></CmdPalProvider></uap3:Properties>
        </uap3:AppExtension></uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities><Capability Name="internetClient" /><rescap:Capability Name="runFullTrust" /></Capabilities>
</Package>
